<p id="notice"><%= notice %></p>

<h1>Information</h1>

<p>
  <b>Description:</b>
  <%= @data_source.description %>
</p>

<p>
  <b>Coverage:</b>
  <%= @data_source.coverage %>
</p>

<p>
  <b>Status:</b>
  <%= @data_source.status %>
</p>

<p>
  <b>Frequency:</b>
  <%= @data_source.frequency %>
</p>

<p>
  <b>History start:</b>
  <%= @data_source.history_start %>
</p>

<p>
  <b>History end:</b>
  <%= @data_source.history_end %>
</p>

<p>
  <b>Sample start:</b>
  <%= @data_source.sample_start %>
</p>

<p>
  <b>Sample end:</b>
  <%= @data_source.sample_end %>
</p>

<p>
  <b>Cost amount:</b>
  <%= @data_source.cost_amount %>
</p>

<p>
  <b>Cost frequency:</b>
  <%= @data_source.cost_frequency %>
</p>

<h2>Docs</h2>

<% @data_source.data_docs.each do |data_doc| %>

    <%= data_doc.url %>
    <%= data_doc.level %>
    <%= link_to "Show", "http://#{request.host}:#{request.port.to_s + request.fullpath}"+"/data_docs/"+data_doc.id.to_s %></br>

<% end %>

<%= form_for([@data_source, @data_source.data_docs.create]) do |f| %>
	<%= f.text_field :url, :placeholder => "url"%>
	<%= f.text_field :level, :placeholder => "level"%>
	<%= f.submit %>
<% end %>

<h2>Provider</h2>

    <%= @data_provider.url %>
    <%= @data_provider.email %>
    <%= @data_provider.contact %>
    <%= @data_provider.phone %>
    <%= link_to 'Show', @data_provider %>
    <%= link_to 'Edit', edit_data_provider_path(@data_provider) %>
    <%= link_to 'Destroy', @data_provider, confirm: 'Are you sure?', method: :delete %>

    <%= form_for(@data_source) do |f| %>
	<%= f.text_field :data_provider_id, :placeholder => "data provider id"%>
	<%= f.submit %>
<% end %>

<h2>Type</h2>

	  <%= @data_type.description %> 
	  <%= link_to 'Show', @data_type %>
	  <%= link_to 'Edit', edit_data_type_path(@data_type) %>
	  <%= link_to 'Destroy', @data_type, confirm: 'Are you sure?', method: :delete %>


  <%= form_for(@data_source) do |f| %>
	<%= f.text_field :data_type_id, :placeholder => "data type id"%>
	<%= f.submit %>
   <% end %>

<h2>Data Stores</h2>

<% @data_source.data_stores.each do |data_store| %>

		<%= data_store.type %>
		<%= data_store.location %>
		<%= data_store.access_method %>
		<%= data_store.owner %>
		<%= link_to "Show", "http://#{request.host}:#{request.port.to_s + request.fullpath}"+"/data_stores/"+data_store.id.to_s %></br>
    <%#= link_to 'Show', data_store %>
    <%#= link_to 'Edit', edit_data_store_path(data_store) %>
    <%#= link_to 'Destroy', data_store, confirm: 'Are you sure?', method: :delete %>

<% end %>

<%= form_for([@data_source, @data_source.data_stores.create]) do |f| %>
	<%= f.text_field :type, :placeholder => "type"%>
	<%= f.text_field :location, :placeholder => "location"%>
	<%= f.text_field :access_method, :placeholder => "access_method"%>
	<%= f.text_field :owner, :placeholder => "owner"%>

	<%= f.submit %>
<% end %>

<h2>Data Notes</h2>

<% @data_source.data_notes.each do |data_note| %>
  
<%= data_note.text %>
<%= data_note.date %>
<%= data_note.user %>
    <%= link_to "Show", "http://#{request.host}:#{request.port.to_s + request.fullpath}"+"/data_notes/"+data_note.id.to_s %></br>
 
    <%#= link_to 'Show', data_note %>
    <%#= link_to 'Edit', edit_data_note_path(data_note) %>
    <%#= link_to 'Destroy', data_note, confirm: 'Are you sure?', method: :delete %>

<% end %>


<%= form_for([@data_source, @data_source.data_notes.create]) do |f| %>

	<%= f.text_field :date, :placeholder => "date"%>
	<%= f.text_field :user, :placeholder => "user"%></br>
	<%= f.text_area :text, :placeholder => "text"%>

	<%= f.submit %>
<% end %>


<%= link_to 'Edit', edit_data_source_path(@data_source) %> |
<%= link_to 'Back', data_sources_path %>
