<%= form_for(@data_doc) do |f| %>
  <% if @data_doc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@data_doc.errors.count, "error") %> prohibited this data_doc from being saved:</h2>

      <ul>
      <% @data_doc.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :level %><br />
    <%= f.number_field :level %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
