<h1>Listing data_docs</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Level</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @data_docs.each do |data_doc| %>
  <tr>
    <td><%= data_doc.url %></td>
    <td><%= data_doc.level %></td>
    <td><%= link_to 'Show', data_doc %></td>
    <td><%= link_to 'Edit', edit_data_doc_path(data_doc) %></td>
    <td><%= link_to 'Destroy', data_doc, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Data doc', new_data_doc_path %>
