<h1>Listing data_notes</h1>

<table>
  <tr>
    <th>Text</th>
    <th>String</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @data_notes.each do |data_note| %>
  <tr>
    <td><%= data_note.text %></td>
    <td><%= data_note.string %></td>
    <td><%= link_to 'Show', data_note %></td>
    <td><%= link_to 'Edit', edit_data_note_path(data_note) %></td>
    <td><%= link_to 'Destroy', data_note, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Data note', new_data_note_path %>
